@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'toastr/build/toastr.min';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$vs-blue: #3D78D4;
$vs-black: #1B1A1E;
$vs-white: #F4F5F6;
$vs-gray: #CCCDCE;

/* universal */
.bg-vs-dark {
  background-color: $vs-black;
  color: $vs-white;
}

.bg-vs-blue {
  background-color: $vs-blue;
  color: $vs-white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar {
  border-radius: 0;
}

.card {
  border-radius: 0;
}

.card > .list-group {
  border-bottom: 0;
}

/* typography */
body {
  font-family: Meiryo, Osaka, "Segoe UI", Helvetica, Garuda, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 0;
  //color: $vs-gray;
}

li {
  text-align: left;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;

  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// home
.jumbotron {
  border-radius: 0;
}

// time attack
#checkbox {
  color: $vs-white;
}
